@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&family=Share+Tech+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neon Future";
  src: url("./fonts/neon_future.ttf");
}

@layer components {
  .text-neon-red {
    @apply font-neonFuture;
    @apply text-red-400;
    text-shadow: 0 0 10vw #ff3131, 0 0 5vw #ff3131, 0 0 2vw #ff3131,
      0 0 0.5vw #ff3131, 5px 5px 1px gray;
  }
  .text-neon-blue {
    @apply font-neonFuture;
    @apply text-cyan-400;
    text-shadow: 0 0 10vw #3137fd, 0 0 5vw #3137fd, 0 0 2vw #3137fd,
      0 0 0.5vw #3137fd, 5px 5px 1px gray;
  }
}
